@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Университет КНИТУ-КАИ<br />
    Казань, ул. Большая Красная, 55<br />
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:SayfulinaLR@stud.kai.ru">Напишите мне на почту</a><br />
</address>